<%- include('partials/header'); -%>

  <ul class="products">
    <li class="product">
      <img src="/cargo-box.png">
      <h4>Lorem ipsum</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </li>
    <li class="product">
      <img src="/cargo-box.png">
      <h4>Lorem ipsum</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </li>
    <li class="product">
      <img src="/cargo-box.png">
      <h4>Lorem ipsum</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </li>
    <li class="product">
      <img src="/cargo-box.png">
      <h4>Lorem ipsum</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </li>
    <li class="product">
      <img src="/cargo-box.png">
      <h4>Lorem ipsum</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </li>
    <li class="product">
      <img src="/cargo-box.png">
      <h4>Lorem ipsum</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </li>
  </ul>

  <%- include('partials/footer'); -%>